TELEGRAM_TOKEN=PUT_YOUR_BOT_TOKEN_HERE
ADMIN_IDS=8569699093
FORCE_SUBSCRIPTION=true
INSTAGRAM_REQUIRED_URL=https://www.instagram.com/p1ay.zone?igsh=MWpjdGpodGRqeXdwdg==
TELEGRAM_REQUIRED_BOT_URL=https://t.me/P1ay_Z0ne_Bot

# اختياري فقط إذا تريد تحقق قناة/مجموعة حقيقي:
# TELEGRAM_REQUIRED_CHAT=@YourChannel
