# توكن البوت الخاص بك من BotFather
TELEGRAM_TOKEN=PUT_YOUR_BOT_TOKEN_HERE

# معرف المطور (الأدمن) للتحكم بلوحة الإدارة
ADMIN_IDS=8569699093

# إعدادات الاشتراك الإجباري والروابط المطلوبة
FORCE_SUBSCRIPTION=true
INSTAGRAM_REQUIRED_URL=https://www.instagram.com/p1ay.zone?igsh=MWpjdGpodGRqeXdwdg==
TELEGRAM_REQUIRED_BOT_URL=https://t.me/P1ay_Z0ne_Bot

# (اختياري) إذا أردت التحقق من قناة أو مجموعة حقيقية مستقبلاً قم بإزالة علامة # وتعديل اليوزر
# TELEGRAM_REQUIRED_CHAT=@YourChannel
